

<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Adicionar Mangá
  </h1>
  <ol class="breadcrumb">
    <li><a><i class="fa fa-dashboard"></i> Minha Conta</a></li>
    <li class="active">Adicionar Mangá</li>
  </ol>
</section>
<!-- Main content -->
<section class="content">
  <!-- Info boxes -->

  <div>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <form ng-submit="vm.addManga(vm.manga)">
            <h4>Nome do Mangás:
            </h4>
            <input type="text" ng-model="vm.manga.name" required>
            <h4>Descrição (Opcional):
            </h4>
            <input type="text" ng-model="vm.manga.desc">
            <h4>Upload de Foto:
            </h4>
            <input type="file" name="imagem" required>
            <h4>Número da edição
            </h4>
            <input type="number" value="" min="1" ng-model="vm.manga.ednumb" required>
          </h4>
          <h4>Coleção
          </h4>
          <input type="text" value="" ng-model="vm.manga.collection" required>
        </h4>
        <h4>Editora
        </h4>
        <input type="text" value="" min="1" ng-model="vm.manga.publisher" required>
      </h4>
      <h4>Ano de Lançamento
      </h4>
      <input type="text" value="" min="1" ng-model="vm.manga.year" required>
    </h4>
    <h4>Estado:
    </h4>
    <select ng-model="vm.manga.state">
      <option value="great">Usado - Ótimo (Sem avarias, lido poucas vezes)
      </option>
      <option value="good">Usado - Bom (Lido varias vezes, pequenas marcas de uso)
      </option>
      <option value="used">Usado - Regular(Folhas soltas ou faltando, marcas de maus tratos)
      </option>
      <option value="not opened">Lacrado
      </option>
      <option value="new">Novo
      </option>
    </select>
    <p>
    </p>
    <button class="btn btn-success btn-lg" type="submit">Adicionar Mangá
    </button>
  </div>
</form>
</div>
</div>
</div>
</section><!-- /.content -->
