
<!-- Content Header (Page header) -->

<script src="../../../../../node_modules/moment/min/moment-with-locales.min.js"></script>
<section class="content-header">
    <h1>
        Trocas
    </h1>
    <ol class="breadcrumb">

        <li class="active"> Trocas</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div id="popUpMangaDescription" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Detalhes</h4>
                </div>
                <div class="modal-body">
                    <h3 align="center">
                        Nome: {{modalmanga.name}} <br>
                        Foto:<br>
                        <img src="{{modalmanga.imageFile}}" height="300px" width="auto" /><br>
                        Descrição: {{modalmanga.desc}}<br>
                        Coleção: {{modalmanga.collection}}<br>
                        Número de Edição: {{modalmanga.ednumb}}<br>
                        Editora: {{modalmanga.publisher}}<br>
                        Estado:
                        <div ng-switch on="modalmanga.state">
                            <p ng-switch-when="great">Usado - Ótimo (Sem avarias, lido poucas vezes)</p>
                            <p ng-switch-when="good">Usado - Bom (Lido varias vezes, pequenas marcas de uso)</p>
                            <p ng-switch-when="used">Usado - Regular(Folhas soltas ou faltando, marcas de maus tratos)</p>
                            <p ng-switch-when="new">Novo</p>
                            <p ng-switch-when="not opened">Lacrado</p>
                            <p ng-switch-default>Nenhuma condição fornecida</p>
                        </div>
                        Ano: {{modalmanga.year}}<br>
                    </h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
                </div>
            </div>

        </div>
    </div>



    <!-- Offered trades -->
    <div class="box-content">
        <div class="panel panel-default">
            <h2>Ofertados</h2>
            <ul style="list-style-type: none;">
                <li ng-if="trade.state != 'accepted' && trade.state != 'done'" ng-repeat="(id, trade) in trades | filter:{  sender : userDB.uid }" >
                    <h5> Você está interessado por:  {{trade.mangaSenderIsInterested.manga.name}} <button  data-toggle="modal" data-target="#popUpMangaDescription" type="button" ng-click="modal(trade.mangaSenderIsInterested.manga)"  class="fa fa-plus-circle btn btn-success btn-sm"></button>
                        <br>
                        Usuário que recebeu a oferta está interessado em:
                        <span ng-if="trade.mangaReceiverIsInterested != undefined">
                            {{trade.mangaReceiverIsInterested.manga.name}}  <button  data-toggle="modal" data-target="#popUpMangaDescription" type="button" ng-click="modal(trade.mangaReceiverIsInterested.manga)"  class="fa fa-plus-circle btn btn-success btn-sm"></button>
                        </span>
                        <span ng-if="trade.mangaReceiverIsInterested == undefined">
                            <b>Usuário ainda não demenstrou AINDA interesse em um de seus Mangás!</b>
                        </span>
                        <br>
                        <button ng-disabled="trade.mangaReceiverIsInterested == undefined" ng-click="accept(trade)"type="button" class="btn btn-success btn-md">Aceitar Troca</button>
                        <button ng-click="reject(trade)" type="button" class=" btn btn-danger btn-md">Recusar Troca </button>
                    </h5>
                </li>
            </ul>


        </div>
    </div>


    <!-- Received trades -->
    <div class="box-content">
        <div class="panel panel-default">
            <h2>Recebidos</h2>
            <ul style="list-style-type: none;">
                <li ng-if="trade.state != 'accepted' && trade.state != 'done'" ng-repeat="(id, trade) in trades | filter:{  receiver: userDB.uid }" >
                    <h5> Usuário tens interesse por:  {{trade.mangaSenderIsInterested.manga.name}}  <button  data-toggle="modal" data-target="#popUpMangaDescription" type="button" ng-click="modal(trade.mangaSenderIsInterested.manga)"  class="fa fa-plus-circle btn btn-success btn-sm"></button>
                        <br>
                        Você está interessado por:
                        <span ng-if="trade.mangaReceiverIsInterested != undefined">
                            {{trade.mangaReceiverIsInterested.manga.name}}  <button  data-toggle="modal" data-target="#popUpMangaDescription" type="button" ng-click="modal(trade.mangaReceiverIsInterested.manga)"  class="fa fa-plus-circle btn btn-success btn-sm"></button>
                        </span>
                        <span ng-if="trade.mangaReceiverIsInterested == undefined">
                            <b>>>Ainda não demonstrou interesse por algum Mangá do usuário (use o botão abaixo)<<</b>
                        </span>
                        <br>

                        <div id="popUp" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Mangás do Usuário</h4>
                                    </div>
                                    <div class="modal-body">
                                        <ul style="list-style-type: none;">
                                            <li ng-repeat="(id, manga) in mangas | filter:{ userUid: trade.sender }" > <!-- Mangas is a list  provided by the controller-->
                                                <h3>

                                                    <img data-ng-src="{{manga.imageFile}}" height="100px"  width="auto"/>
                                                    {{manga.name}} - {{manga.year}} <button ng-init="showDetails=false"  class="fa fa-plus-circle btn btn-success btn-sm" ng-click="showDetails = !showDetails"></button>
                                                    <div ng-if="showDetails">
                                                        <h3 >
                                                            Nome: {{manga.name}} <br>
                                                            Foto:<br>
                                                            <img src="{{manga.imageFile}}" height="300px" width="auto" /><br>
                                                            Descrição: {{manga.desc}}<br>
                                                            Coleção: {{manga.collection}}<br>
                                                            Número de Edição: {{manga.ednumb}}<br>
                                                            Editora: {{manga.publisher}}<br>
                                                            Estado:
                                                            <div ng-switch on="manga.state">
                                                                <p ng-switch-when="great">Usado - Ótimo (Sem avarias, lido poucas vezes)</p>
                                                                <p ng-switch-when="good">Usado - Bom (Lido varias vezes, pequenas marcas de uso)</p>
                                                                <p ng-switch-when="used">Usado - Regular(Folhas soltas ou faltando, marcas de maus tratos)</p>
                                                                <p ng-switch-when="new">Novo</p>
                                                                <p ng-switch-when="not opened">Lacrado</p>
                                                                <p ng-switch-default>Nenhuma condição fornecida</p>
                                                            </div>
                                                            Ano: {{manga.year}}<br>
                                                        </h3>
                                                    </div>


                                                    <br> <button ng-click="offer(trade,manga,id)" data-dismiss="modal" type="button" class="fa fa-thumbs-o-up btn btn-success btn-md">  Demonstrar Interesse  </button>
                                                </h3>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
                                    </div>
                                </div>

                            </div>
                        </div>



                        <button  ng-disabled="trade.mangaReceiverIsInterested != undefined" data-toggle="modal" data-target="#popUp"type="button" class="btn btn-success btn-md">Ver Mangás do Usuário!</button>
                        <button ng-click="reject(trade)" type="button" class=" btn btn-danger btn-md">Recusar Troca </button>
                    </h5>
                </li>
            </ul>


        </div>
    </div>


    <!-- Accepted trades -->


    <div class="box-content">
        <div class="panel panel-default">
            <h2>Aceitos</h2>



            <!-- Sender -->
            <ul style="list-style-type: none;">
                <li ng-if="trade.state == 'accepted'" ng-repeat="(id, trade) in trades | filter:{  sender : userDB.uid } " >
                    <div class="box-content">
                        <div class="panel panel-default">
                            <h5> Você está interessado por:  {{trade.mangaSenderIsInterested.manga.name}}  <button  data-toggle="modal" data-target="#popUpMangaDescription" type="button" ng-click="modal(trade.mangaSenderIsInterested.manga)"  class="fa fa-plus-circle btn btn-success btn-sm"></button>
                                <br>
                                O outro Usuário está interessado em:
                                {{trade.mangaReceiverIsInterested.manga.name}}  <button  data-toggle="modal" data-target="#popUpMangaDescription" type="button" ng-click="modal(trade.mangaReceiverIsInterested.manga)"  class="fa fa-plus-circle btn btn-success btn-sm"></button>
                                <br>
                                <div  name="adressToSend">

                                    <button ng-init="showAddress = false" type="button" name="button" class="btn btn-primary btn-md" ng-click="showAddress=!showAddress; getAddress(trade)"> Mostrar Endereços </button>
                                    <br>
                                    <div ng-show="showAddress">
                                        <h5>
                                            Endereços de Envio
                                        </h5>
                                        <p>
                                            Endereço 1: {{address1}}
                                        </p>
                                        <p>
                                            Endereço 2: {{address2}}
                                        </p>
                                    </div>

                                </div>
                                <br>
                                Data máxima para envio: {{trade.deadline}}
                                <br>
                                <button ng-disabled="trade.senderTrack != undefined" type="button"   data-toggle="modal" data-target="#popUpTrack1" class="btn btn-success btn-md">Enviar Código de Rastreio</button>
                                <br>

                                <div name="report">
                                    <div id="popUpReport" class="modal fade" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Reportar</h4>

                                                </div>
                                                <div class="modal-body">
                                                    O administrador receberá o porque a torca foi mal sucedida e julgará se cabe punição aos envolvidos, principalmente em caso de má fé.
                                                    <textarea rows="5" cols="80" placeholder="Escreva o porque não foi concluída a troca..." ng-model="reportMessage">
                                                    </textarea>

                                                    <button ng-click="report(trade,reportMessage)"  data-dismiss="modal"  type="button" class=" btn btn-primary btn-md"> Reportar </button>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <button ng-if="timeDiff(trade) == true" type="button"   data-toggle="modal" data-target="#popUpReport" class="btn btn-danger btn-md" >Reportar troca mal sucedida</button>

                                </div>
                                <br>
                            </h5>
                            <div id="popUpTrack1" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Enviar Código de Rastreio</h4>

                                        </div>
                                        <div class="modal-body">
                                            <input type="text" placeholder="Código de Rastreio" ng-model="rastreio">
                                            <button ng-click="trackSender(trade, rastreio)" data-dismiss="modal" type="button" class=" btn btn-primary btn-md"> Enviar </button>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div>
                                <div id="popUpCommentSectionSender" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Comentários</h4>

                                            </div>
                                            <div class="modal-body">
                                                <ul style="list-style-type: none;">
                                                    <li  ng-repeat="comment in trade.comments" >
                                                        <b>{{comment.user}}: </b>
                                                        <p>
                                                            {{comment.message}}
                                                        </p>
                                                    </li>
                                                </ul>
                                                <input type="text" placeholder="Escreva seu comentário..." ng-model="message">
                                                <button ng-click="comment(trade, message)" type="button" class=" btn btn-primary btn-md"> Enviar </button>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                                <h5> Conversar com Usuário</h5>
                                <button  data-toggle="modal" data-target="#popUpCommentSectionSender"type="button" class="btn btn-success btn-md" ng-click="loadComments(trade)">Conversar!</button>

                            </div>
                            <h5>Acompanhar Entregas</h5>
                            <div ng-if="trade.senderTrack != undefined">
                                <a  target="_blank" href="http://websro.correios.com.br/sro_bin/txect01$.QueryList?P_LINGUA=001&P_TIPO=001&P_COD_UNI={{trade.senderTrack}}" > Verificar Envio do Mangá {{trade.mangaReceiverIsInterested.manga.name}}</a>

                            </div>
                            <div ng-if="trade.receiverTrack != undefined">
                                <a  target="_blank" href="http://websro.correios.com.br/sro_bin/txect01$.QueryList?P_LINGUA=001&P_TIPO=001&P_COD_UNI={{trade.receiverTrack}}" > Verificar Envio do Mangá {{trade.mangaSenderIsInterested.manga.name}}</a>
                            </div>


                            <div ng-if="trade.senderTrack != undefined && trade.receiverTrack != undefined">
                                <h5>Confirmar Entrega</h5>
                                <button ng-click="confirmSender(trade)" type="button" ng-if="trade.senderConfirm != true"  class=" btn btn-primary btn-md"> Recebi meu Mangá </button>
                                <button disabled type="button" ng-if="trade.senderConfirm == true"  class=" btn btn-primary btn-md"> Confirmado o Recebimento </button>


                                <div name="review">
                                    <div ng-if="trade.senderConfirm && trade.receiverConfirm">

                                        <div id="popUpReviewSender" class="modal fade" role="dialog">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title">Avaliar</h4>

                                                    </div>
                                                    <div class="modal-body">
                                                        <textarea rows="5" cols="80" placeholder="Escreva sua avaliação..." ng-model="rate">
                                                        </textarea>

                                                        <button ng-click="review(trade,trade.receiver,rate)"  data-dismiss="modal"  type="button" class=" btn btn-primary btn-md"> Enviar </button>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>


                                        <h5>Avaliar</h5>


                                        <button ng-if="trade.doneUser == undefined || trade.doneUser.indexOf(userDB.uid) == -1" data-toggle="modal" data-target="#popUpReviewSender"type="button" class="btn btn-primary btn-md" ng-click="">Avaliar</button>
                                        <button ng-if="trade.doneUser != undefined && trade.doneUser.indexOf(userDB.uid) != -1" disabled class="btn btn-primary btn-md" ng-click="">Avaliado!</button>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </li>
            </ul>




            <!-- Receiver -->
            <ul style="list-style-type: none;">
                <li ng-if="trade.state == 'accepted'" ng-repeat="(id, trade) in trades | filter:{  receiver : userDB.uid } " >
                    <div class="box-content">
                        <div class="panel panel-default">
                            <h5> Você está interessado por: {{trade.mangaReceiverIsInterested.manga.name}}  <button  data-toggle="modal" data-target="#popUpMangaDescription" type="button" ng-click="modal(trade.mangaReceiverIsInterested.manga)"  class="fa fa-plus-circle btn btn-success btn-sm"></button>
                                <br>
                                O outro Usuário está interessado em:
                                {{trade.mangaSenderIsInterested.manga.name}}  <button  data-toggle="modal" data-target="#popUpMangaDescription" type="button" ng-click="modal(trade.mangaSenderIsInterested.manga)"  class="fa fa-plus-circle btn btn-success btn-sm"></button>


                                <br>
                                <div  name="adressToSend">

                                    <button ng-init="showAddress = false" type="button" name="button" class="btn btn-primary btn-md" ng-click="showAddress=!showAddress; getAddress(trade)"> Mostrar Endereços </button>
                                    <br>
                                    <div ng-show="showAddress">
                                        <h5>
                                            Endereços de Envio
                                        </h5>
                                        <p>
                                            Endereço 1: {{address1}}
                                        </p>
                                        <p>
                                            Endereço 2: {{address2}}
                                        </p>
                                    </div>

                                </div>
                                <br>
                                Data máxima para envio: {{trade.deadline}}
                                <br>
                                <button ng-disabled="trade.receiverTrack != undefined" data-toggle="modal" data-target="#popUpTrack2" type="button" class="btn btn-success btn-md">Enviar Código de Rastreio</button>
                                <br>
                                <div name="report">
                                    <div id="popUpReport" class="modal fade" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Reportar</h4>

                                                </div>
                                                <div class="modal-body">
                                                    O administrador receberá o porque a torca foi mal sucedida e julgará se cabe punição aos envolvidos, principalmente em caso de má fé.
                                                    <textarea rows="5" cols="80" placeholder="Escreva o porque não foi concluída a troca..." ng-model="reportMessage">
                                                    </textarea>

                                                    <button ng-click="report(trade,reportMessage)"  data-dismiss="modal"  type="button" class=" btn btn-primary btn-md"> Reportar </button>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <button ng-if="timeDiff(trade) == true" type="button"   data-toggle="modal" data-target="#popUpReport" class="btn btn-danger btn-md" >Reportar troca mal sucedida</button>

                                </div>
                            </h5>
                            <div id="popUpTrack2" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Enviar Código de Rastreio</h4>
                                        </div>
                                        <div class="modal-body">
                                            <input type="text" placeholder="Código de Rastreio" ng-model="rastreio">
                                            <button ng-click="trackReceiver(trade, rastreio)" data-dismiss="modal" type="button" class=" btn btn-primary btn-md"> Enviar </button>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div>
                                <div id="popUpCommentSectionReceiver" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Comentários</h4>

                                            </div>
                                            <div class="modal-body">
                                                <ul style="list-style-type: none;">
                                                    <li  ng-repeat="comment in trade.comments" >
                                                        <b>{{comment.user}}: </b>
                                                        <p>
                                                            {{comment.message}}
                                                        </p>
                                                    </li>
                                                </ul>
                                                <input type="text" placeholder="Escreva seu comentário..." ng-model="message">
                                                <button ng-click="comment(trade, message)" type="button" class=" btn btn-primary btn-md"> Enviar </button>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <h5> Conversar com Usuário</h5>
                                <button  data-toggle="modal" data-target="#popUpCommentSectionReceiver"type="button" class="btn btn-success btn-md" ng-click="loadComments(trade)">Conversar!</button>

                            </div>
                            <h5>Acompanhar Entregas</h5>
                            <div ng-if="trade.senderTrack != undefined">
                                <a  target="_blank" href="http://websro.correios.com.br/sro_bin/txect01$.QueryList?P_LINGUA=001&P_TIPO=001&P_COD_UNI={{trade.senderTrack}}" > Verificar Envio do Mangá {{trade.mangaReceiverIsInterested.manga.name}}</a>

                            </div>
                            <div ng-if="trade.receiverTrack != undefined">
                                <a  target="_blank" href="http://websro.correios.com.br/sro_bin/txect01$.QueryList?P_LINGUA=001&P_TIPO=001&P_COD_UNI={{trade.receiverTrack}}" > Verificar Envio do Mangá {{trade.mangaSenderIsInterested.manga.name}}</a>
                            </div>

                            <div ng-if="trade.senderTrack != undefined && trade.receiverTrack != undefined">
                                <h5>Confirmar Entrega</h5>
                                <button ng-click="confirmReceiver(trade)" ng-if="trade.receiverConfirm != true"  type="button" class=" btn btn-primary btn-md"> Recebi meu Mangá </button>
                                <button disabled type="button" ng-if="trade.receiverConfirm == true"  class=" btn btn-primary btn-md"> Confirmado o Recebimento </button>
                                <div name="review">
                                    <div ng-if="trade.senderConfirm && trade.receiverConfirm">

                                        <div id="popUpReviewReceiver" class="modal fade" role="dialog">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title">Avaliar</h4>

                                                    </div>
                                                    <div class="modal-body">
                                                        <textarea rows="5" cols="80" placeholder="Escreva sua avaliação..." ng-model="rate">
                                                        </textarea>

                                                        <button ng-click="review(trade,trade.sender,rate)"  data-dismiss="modal"  type="button" class=" btn btn-primary btn-md"> Enviar </button>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>


                                        <h5>Avaliar</h5>


                                        <button ng-if="trade.doneUser == undefined || trade.doneUser.indexOf(userDB.uid) == -1" data-toggle="modal" data-target="#popUpReviewReceiver"type="button" class="btn btn-primary btn-md" ng-click="">Avaliar</button>
                                        <button ng-if="trade.doneUser != undefined && trade.doneUser.indexOf(userDB.uid) != -1" disabled class="btn btn-primary btn-md" ng-click="">Avaliado!</button>
                                    </div>
                                </div>


                            </div>

                        </div>

                    </div>
                </li>
            </ul>


        </div>
    </div>

    <!-- History -->
    <!-- Offered trades -->
    <div class="box-content">
        <div class="panel panel-default">
            <h2>Histórico de Trocas Finalizadas</h2>
            <ul style="list-style-type: none;">
                <li ng-if="trade.state == 'done'" ng-repeat="(id, trade) in trades | filter:{  sender : userDB.uid }" >
                    <h5> Você recebeu:  {{trade.mangaSenderIsInterested.manga.name}}  <button  data-toggle="modal" data-target="#popUpMangaDescription" type="button" ng-click="modal(trade.mangaSenderIsInterested.manga)"  class="fa fa-plus-circle btn btn-success btn-sm"></button>
                        <br>
                        O outro usuário recebeu:
                        {{trade.mangaReceiverIsInterested.manga.name}}  <button  data-toggle="modal" data-target="#popUpMangaDescription" type="button" ng-click="modal(trade.mangaReceiverIsInterested.manga)"  class="fa fa-plus-circle btn btn-success btn-sm"></button>
                    </h5>
                </li>
                <li ng-if="trade.state == 'done'" ng-repeat="(id, trade) in trades | filter:{  receiver : userDB.uid }" >
                    <h5> Você recebeu:  {{trade.mangaReceiverIsInterested.manga.name}}  <button  data-toggle="modal" data-target="#popUpMangaDescription" type="button" ng-click="modal(trade.mangaReceiverIsInterested.manga)"  class="fa fa-plus-circle btn btn-success btn-sm"></button>
                        <br>
                        O outro usuário recebeu:
                        {{trade.mangaSenderIsInterested.manga.name}}  <button  data-toggle="modal" data-target="#popUpMangaDescription" type="button" ng-click="modal(trade.mangaSenderIsInterested.manga)"  class="fa fa-plus-circle btn btn-success btn-sm"></button>
                    </h5>
                </li>
            </ul>
        </div>
    </div>







</section><!-- /.content -->
