
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Trocas
    </h1>
    <ol class="breadcrumb">

        <li class="active"> Trocas</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Info boxes -->
    <div class="box-content">
        <div class="panel panel-default">
            <h2>Ofertados</h2>
            <ul style="list-style-type: none;">
                <li ng-if="trade.state != accepted" ng-repeat="(id, trade) in trades | filter:{  sender : userDB.uid }" >
                    <h5> Você está interessado por:  {{trade.mangaSenderIsInterested.manga.name}}
                        <br>
                        Usuário que recebeu a oferta está interessado em:
                        <span ng-if="trade.mangaReceiverIsInterested != undefined">
                            {{trade.mangaReceiverIsInterested.manga.name}}
                        </span>
                        <span ng-if="trade.mangaReceiverIsInterested == undefined">
                            <b>Usuário ainda não demenstrou AINDA interesse em um de seus Mangás!</b>
                        </span>
                        <br>
                        <button ng-disabled="trade.mangaReceiverIsInterested == undefined" ng-click="accept(trade)"type="button" class="btn btn-success btn-lg">Aceitar Troca</button>
                        <button ng-click="reject(trade)" type="button" class=" btn btn-danger btn-lg">Recusar Troca </button>
                    </h5>
                </li>
            </ul>


        </div>
    </div>



    <div class="box-content">
        <div class="panel panel-default">
            <h2>Recebidos</h2>
            <ul style="list-style-type: none;">
                <li ng-if="trade.state != accepted" ng-repeat="(id, trade) in trades | filter:{  receiver: userDB.uid }" >
                    <h5> Usuário tens interesse por:  {{trade.mangaSenderIsInterested.manga.name}}
                        <br>
                        Você está interessado por:
                        <span ng-if="trade.mangaReceiverIsInterested != undefined">
                            {{trade.mangaReceiverIsInterested.manga.name}}
                        </span>
                        <span ng-if="trade.mangaReceiverIsInterested == undefined">
                            <b>>>Ainda não demonstrou interesse por algum Mangá do usuário (use o botão abaixo)<<</b>
                        </span>
                        <br>

                        <div id="popUp" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Mangás do Usuário</h4>
                                    </div>
                                    <div class="modal-body">
                                        <ul style="list-style-type: none;">
                                            <li ng-repeat="(id, manga) in mangas | filter:{ userUid: trade.sender }" > <!-- Mangas is a list  provided by the controller-->
                                                <h3>

                                                    <img data-ng-src="{{manga.imageFile}}" height="100px"  width="auto"/>
                                                    {{manga.name}} - {{manga.year}} <button ng-click="offer(trade,manga,id)" type="button" class="fa fa-thumbs-o-up btn btn-success btn-lg">  Demostrar Interesse  </button> 
                                                </h3>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                    </div>
                                </div>

                            </div>
                        </div>



                        <button ng-init="seeMangas=false;" ng-disabled="trade.mangaReceiverIsInterested != undefined" data-toggle="modal" data-target="#popUp"type="button" class="btn btn-success btn-lg">Ver Mangás do Usuário!</button>
                        <button ng-click="reject(trade)" type="button" class=" btn btn-danger btn-lg">Recusar Troca </button>
                    </h5>
                </li>
            </ul>


        </div>
    </div>










</section><!-- /.content -->
