<div class="form" ng-controller="signUpFormCtrl">
    <div >
        <div id="signup">
            <h1>Cadastre-se gratuitamente</h1>

            <form ng-submit="signUp(user)">

                <div class="top-row">
                    <div class="field-wrap">

                        <input  placeholder="Nome "ng-model="user.name" type="text" required autocomplete="off" />

                    </div>

                    <div class="field-wrap">

                        <input placeholder="Sobrenome"ng-model="user.surname" type="text"required autocomplete="off"/>
                    </div>
                </div>

                <div class="field-wrap">

                    <input placeholder="E-mail" ng-model="user.email" type="email"required autocomplete="off" />
                </div>

                <div class="field-wrap">

                    <input placeholder="CPF - (11 dígitos sem . ou -)"  pattern="\d{11}"  title="Digite o CPF no formato: xxxxxxxxxxx" ng-model="user.CPF" type="cpf"required autocomplete="off"/>
                </div>

                <div class="field-wrap">

                    <input placeholder="Senha" autofocus=""ng-model="user.password" type="password"required autocomplete="off"/>
                </div>

                <div class="field-wrap">

                    <input placeholder="Endereço" autofocus=""ng-model="user.address" type="address"required autocomplete="off"/>
                </div>


                <div class="field-wrap">
                    <label>
                        Sexo<span class="req">*</span>
                    </label>
                    <br>
                    <br>

                    <select required ng-model="user.genero" >
                        <option disabled selected value> -- Selecione uma opção -- </option>
                        <option value="f">Feminino</option>
                        <option value="m">Masculino</option>
                    </select>
                </div>



                <br>
                <button  type="submit" class="button button-block">Comece agora!</button>

            </form>

        </div>

    </div>

</div>
