<div class="form" ng-controller="logInFormCtrl">
    <div >
        <div id="login">
         <h1>Bem vindo de volta!</h1>

         <form ng-submit="logIn()">

           <div class="field-wrap">

           <input placeholder="E-mail" ng-model="userLog.emailLog" type="email"required autocomplete="off"/>
         </div>

         <div class="field-wrap">

           <input placeholder="Senha" ng-model="userLog.passwordLog" type="password"required autocomplete="off"/>
         </div>

         <p class="forgot"><a href="#">Esqueceu a senha?</a></p>

         <button class="button button-block" type="submit">Log In</button>

         </form>

       </div>

    </div>

</div>
